 /* active (faded) */
 .nav-pills .pill-1 .nav-link {
    background-color: rgba(41, 43, 44, 0.2);
    color: white;
}

#exTab3 .nav-pills > li > a {
border-radius: 0 0 0 0 ;
}

#exTab3 .tab-content {
color : white;
background-color: rgba(41, 43, 44, 0.2);
padding : 5px 15px;
}