{% load static %}
<!DOCTYPE html>
  <html lang="en">  
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>  {% block title %} JOLC {% endblock title %} </title>
      <link rel="shortcut icon" href="{% static 'img/icon.png' %}" />
      {% load bootstrap4 %}
      {% bootstrap_css %}
  </head>
    <body style="background-color: #196F3D ;padding: 0px;">
      {% include "navBar.html" %}
      {% block content %}
        <!-- Codigo que cambiara dependiendo de la ruta que se renderize --> 
      {% endblock content %}  
    </body> 
  </html>